
*{
  display:flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header{
  flex-direction: row;
  justify-content: flex-start;
  background-color:#3f056f;
  height: 30vh;
  width: 100vw;
}

.logo{
  margin: 2.5vh;
}

#logo{
  width: 25vh;
  height: 25vh;
}

.bar{
  flex-direction: row;
}

.nav{
  align-items: flex-start;
  margin: 2.5vh;
  padding-right: 6vh;
  border-right: solid;
  border-color: black;
  height: 20vh;
  width: 60vw;
}

a{
  color: black;
  text-decoration: none;
  font-size: 40px;
}

.pestaña{
  flex-direction: row;
  border-right: solid;
  border-color: black;
  margin-right: 5vh;
  margin-top: 4vh;
  padding-right: 2vh;
  height: 5vh;
}

.title{
  flex-direction: column;
  margin-top: ;
  margin-bottom: 5vh;
  padding: 0;
  font-size: 35px;
  height: 8vh;
}

.form{
  align-items: flex-end;
  flex-direction: column;
  margin-right: 2vw;
  height: 30vh;
  width: 30vw;
}

#buscador{
  flex-direction: row;
  height: 50%;
}

#butt-busq{
  height: 7vh;
  width: 7vh;
}

#form-busq, textarea{
  padding: 10px;
  width: 22.2vw;
  text-align: right;
  font-size: 20px;
}

#user{
  flex-direction: row;
}

#reg{
  font-size:20px;
}

.banner{
  height: 80vh;
  width: 94vw;
  margin-top: 3vw;
  margin-bottom: 3vw;
  padding: 0;
}

.main{
  align-items: flex-start;
  flex-direction: row;
  margin-bottom: 3vh;
}

.setting{
  justify-content: flex-start;
  height: 150vh;
  width: 30vw;
  background-color: white;
}

.config{
  height: 40%;
  width: 90%;
  background-color: pink;
  margin: 5%;
}

.product-list{
  height: 250vh;
  width: 70vw;
}

.product{
  flex-direction: row;
  width: 90%;
  height: 10%;
  background-color: pink;
  margin: 1%;
}

.pic-product{
  height: 100%;
  width: 20%;
  background-color: green;
}

.description{
  font-size: 10px;
  background-color: #a284ab;
  height: 100%;
  width: 80%;
}

.spec, textarea{
  padding: 5px;
  flex-flow: nowrap;
  height: 80%;
  width: 100%;
}

footer{
  background-color: #3f056f;
  height:30vh;
  width: 100vw;
}
